.manage-photos-container {
  padding-top: 70px;
  width: 100%;
  overflow: hidden;
}

.manage-photos-contents {
  display: flex;
  height: 100%;
}

.photo-type {
  width: 15%;
  background-color: white;
  border-right: 1px solid #525558;
  margin-bottom: 10px;
  margin-left: 10px;
}

.photo-type h2 {
  font-size: 14px;
  color: #0099e5;
  font-weight: bold;
  text-transform: uppercase;
}

.manage-photo-images {
  overflow-y: auto;
  width: 60%;
  max-height: 750px;
}

.edit-photo-form {
  width: 20%;
  margin-left: 30px;
}
