div[class^="photo-grid-item"] {
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: calc(25% - 10px);
}

.photo-grid-item-selected {
  opacity: 0.9;
}

.photo-grid-item-unselected {
  filter: brightness(85%);
}

div[class^="photo-grid-item"] img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

* { box-sizing: border-box; }


.photo-grid-container {
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 20px;
}

.photo-grid-contents {
  margin: 0 auto;
}

/* clear fix */
.photo-grid-contents:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.photo-grid-sizer,
.photo-grid-item-selected,
.photo-grid-item-unselected,
.photo-grid-item {
  width: 25%;
}

.photo-grid-item:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
}

.photo-gutter-sizer {
  width: 0%;
}


.photo-grid-item,
.photo-grid-item-unselected,
.photo-grid-item-selected {
  float: left;
}

.photo-grid-item-selected img,
.photo-grid-item-unselected img,
.photo-grid-item img {
  display: block;
  max-width: 100%;
}
