.photo-show-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  font-family: 'roboto';
}

.photo-image-container {
  width: 75%;
  height: 90%;
  padding: 2%;
  position: relative;
  margin: auto;
  display: flex;
}

.photo-text-container {
  width: 19%;
  height: 100%;
  border-left: 10px solid #525558;
  padding-left: 5px;
  color: #525558;
}

.profile-show-container {
  display: flex;
  flex-direction: row;
}

.profile-img {
  margin-bottom: 10px;
  margin-right: 20px;
}

.profile-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%
}

.profile-img a:last-of-type {
  height: fit-content;
  position: relative;
  left: 10px;
  width: 100%;
}

.user-comment-container {
  display: flex;
  margin: 10px;
}

.user-comment-text a {
  font-weight: bold;
  margin-right: 5px;
}

.user-comment-text {
  margin-top: 5px;
}

.user-comment-img {
  margin-right: 5px;
}

.user-comment-img img {
  width: 25px;
  height: 25px;
  border-radius: 50%
}

.photo-show-info {
  width: 100%;
  height: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.photo-img {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.photo-title {
  margin-bottom: 20px;
}

.photo-show-info span {
  font-size: 15px;
  word-wrap: break-word;
  padding-left: 5px;
}

.photo-show-info h2 {
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: 20px;
  word-wrap: break-word;
}

.follow-state-button {
  display: block;
  height: 20px;
  width: 75px;
  padding: 5px 8px 5px 8px;
  background-color: #41cb56;
  border: 1px #41cb56;
  border-radius: 4px;
  position: relative;
  text-align: center;
  margin-top: 5px;
}

.follow-state-button button {
  width: 75px;
  height: 15px;
  font-size: 12px;
  color: white;
}

.photo-comments {
  font-size: 14px;
  height: 60%;
  width: 97%;
  border: 1px solid lightgrey;
  border-radius: 4px;
  overflow: auto;
  margin-left: 4px;
}

.photo-comments > span {
  color: white;
}

.photo-comments-form {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  resize: none;
  width: 97%;
  margin-left: 4px;
}

.photo-comments-form textarea {
  margin: 0px;
  height: 48px;
  resize: none;
  width: 100%;
  border-radius: 4px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: silver;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: silver;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: silver;
}
