.profile-container {
  display: block;
}

.profile-top-content {
  background-color: white;
}

.profile-cover-photo {
  min-height: 300px;
  max-height: 700px;
  overflow-y: hidden;
  min-width: 500px;
  background-color: white;
  position: relative;
}

.profile-user-avatar {
  height: 200px;
  width: 200px;
  position: relative;
  bottom: 115px;
  margin: auto;
}

.profile-user-avatar > img {
  height: 200px;
  border-radius: 50%;
  border: 1px solid #525558;
}

.profile-page-user {
  font-size: 48px;
  font-weight: bold;
  font-family: 'roboto';
  text-align: center;
  position: relative;
  top: -120px;
}

.profile-user-details {
  text-align: center;
  top: -105px;
  position: relative;
  font-family: 'roboto';
  font-size: 20px;
  border-bottom: 1px solid #525558;
  padding-bottom: 20px;
}

.follow-stats {
  text-align: center;
  margin-top: 15px;
  margin-left: 40px;
}

.follow-stats span {
  margin-right: 25px;
  color: #b9c1c7;
}

.profile-button {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 150px;
  right: 40px;
}

.profile-button button {
  padding: 10px 10px 10px 10px;
  background-color: #41cb56;
  color: white;
  font-family: 'roboto';
  font-weight: bold;
  font-size: 13px;
}
