.form-container {
  font-family: 'Roboto', sans-serif;
  display: flex;
  width: 400px;
  height: 450px;
  margin: auto;
  background-color: white;
  position: relative;
  top: 70px;
  padding: 85px 40px 25px;
}

.form-contents {
  margin: auto;
  width: 100%;
}

.form-contents h2 {
  color: #686868;
}

.form-contents label {
  color: grey;
  font-size: 14px;
  width: 100%;
  height: 28px;
}

.form-contents input {
  border: 1px solid rgba(185, 193, 199, 0.5);
  width: 100%;
  margin-top: 9px;
  padding: 6px;
}

.form-contents input[type="submit"] {
  background-color: #41cb56;
  display: block;
  margin: auto;
  color: white;
  width: 100%;
  font-weight: bold;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 11px;
}

.form-header {
  font-size: 30px;
  text-align: center;
  margin-top: -165px;
  margin-bottom: 27px;
}

.line-divider {
  margin-top: 40px;
  width: 100%;
}

.demo-login {
  margin: 0 auto;
  display: flex;
  position: relative;
  top: 130px;
  color: #71767a;
  font-size: 12px;
}

.alt-form-link {
  margin: auto;
  display: flex;
  position: relative;
  top: 140px;
  justify-content: center;
  font-size: 12px;
}

.alt-form-link > span {
  color: #71767a;
}
.alt-form-link > a {
  margin-left: 5px;
  color: #0099e5;
}

.errors {
  display: flex;
  position: fixed;
  top: 86px;
  color: red;
  flex-direction: column;
}

.errors > li {
  display: block;
  margin-bottom: 5px;
}
