.user-dropdown {
	position: absolute;
	top: 65px;
	right: 20px;
	background-color: #fff;
	border: 1px solid lightgrey;
	border-radius: 3px;
	padding: 10px;
	width: 225px;
	z-index: 1;
	color: black;
	font-family: 'roboto';
	text-align: center;
	box-shadow: -1px 4px 6px 1px rgba(0,0,0,0.09);
	font-weight: initial;
}

.user-dropdown a {
	display: block;
	padding: 5px 5px;
	color: black;
}
