.background-img {
  position: relative;
  height: 800px;
  background: image-url('splash_background.jpg') 70% no-repeat ;
}

.inspired-message {
  font-style: sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
  color: white;
  position: absolute;
  top: 55%;
  left: 18%;
}

.inspired-message > h1 {
  font-size: 48px;
  padding-bottom:40px;
  font-weight: bold;
}

.inspired-message > h2 {
  font-size: 24px;
  padding-bottom: 40px;
  font-weight: bold;
}

.inspired-message > a {
  font-size: 18px;
  width: 109px;
  padding: 15px;
  padding-left: 35px;
  font-weight: bold;
  padding-right: 33px;
  margin: 0 auto;
}

.inspired-message > a:hover {
  background-color: #52c6ff;
}
