.form-container {
  display: flex;
  width: 500px;
  height: 600px;
  margin-left: auto;
  background-color: white;
  position: absolute;
  top: 100px;
  left: 40%;
}

.form-contents {
  background-color: white;
  margin: auto;
  text-align: center;
}

.form-header {
  font-size: 30px;
  margin-bottom: 20px;
}

label {
  margin-bottom: 15px;
  font-size: 22px;
  color: #71767a;
}

input[type="submit"] {
  border:1px solid red;
  text-decoration:none;
  font-family:helvetica;
}
